@import './../variable.scss';

.fakemuseum {
    background: linear-gradient(180deg, #FFF 0%, #FFE8A5 100%);
    height: 100vh;
    overflow: scroll;

    .content {
        width: 100%;
        position: relative;

        img {
            position: absolute;
            height: auto;
        }

        .imageMain {
            top: 0;
            right: 3%;
            width: 80%;
        }
        .imagePopup {
            top: 30%;
            right: 0;
            width: 50%;
        }

        p {
            white-space: pre-line;
        }

        .requirements {
            padding-left: 6%;
            @include flexCol(1.2em);
        }
    }
}

@media screen and (max-width: $mobileView) {
    .fakemuseum {
        .content {
            .imagePopup {
                top: 25%;
                right: -5%;
                width: 60%;
            }
            .requirements {
                padding-right: 6%;
            }
        }
    }
}