@import './../variable.scss';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&family=Noto+Sans+KR:wght@700&display=swap');

.kavecon {
    background-color: #000;
    color: white;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;

    .contentFirst {
        width: 100%;
        height: 240vh;
        background-image: linear-gradient(180deg, rgba(250, 255, 0, 0.00) 0%, #000 50%), url('/works/kavecon/kavecon-1.png');
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: 86% 0;
        position: relative;

        .firstImg {
            width: 200px;
            height: 200vh;
            position: absolute;
            right: 2%;
            top: 20vh;
            background-image: linear-gradient(180deg, rgba(250, 255, 0, 0.00) 0%, #000 61.46%), url('/works/kavecon/kavecon-2.png');
            background-repeat: no-repeat;
            background-size: 100%;
        }

        .concept {
            @include flexAlign(space-between, center);

            div:last-child {
                @include flexCenter;
                height: 200px;
                width: 40%;
                margin-right: 6%;
                font-weight: 700;
                z-index: 999;
                font-size: 2.5em;
                color: #57FF79;
                line-height: 1.6;
                text-align: center;
                text-transform: uppercase;
            }
        }

        .conceptimg {
            border-radius: 70px;
            border: 3px solid #57FF79;
            box-shadow: 0px 0px 17px 0px #57FF79, 0px 0px 54px 0px #57FF79, 0px 4px 14px 0px #57FF79;
        }

        span {
            letter-spacing: 5px;
            text-shadow: 0px 0px 3px 3px #57FF79;
        }

        .fontNoto {
            font-family: 'Noto Sans KR', sans-serif;
        }

        .fontManrope {
            font-family: 'Manrope', sans-serif;
        }
    }

    .contentSecond {
        position: relative;

        img:nth-child(2) {
            position: absolute;
            right: -7%;
            top: 0;
            width: 800px;
            height: auto;
        }
        
        img:nth-child(3) {
            position: absolute;
            right: 10%;
            top: 80%;
            width: 800px;
            height: auto;
        }
    }

    .contentLast {
        padding: 6%;
        @include flexCol(1.2em);

        ul {
            margin-bottom: 3em;
        }
    }
}

@media screen and (max-width: $mobileView) {
    .kavecon {
        .contentFirst {
            height: auto;
            background-image: linear-gradient(180deg, rgba(250, 255, 0, 0.00) 0%, #000 20%), url('/works/kavecon/kavecon-1.png');
            
            .firstImg {
                width: 100px;
                right: 2%;
            }
            .concept {
                flex-direction: column;
                align-items: flex-start;

                div:last-child {
                    width: 80%;
                    align-self: flex-end;
                }
            }
        }

        .contentSecond {
            img:nth-child(2) {
                position: relative;
                right: -15%;
                top: 100%;
                width: 100%;
            }
            
            img:nth-child(3) {
                position: relative;
                right: 10%;
                top: 100%;
                width: 100%;
            }
        }
    }
}