@import './../variable.scss';

.mungmung {
    background: linear-gradient(180deg, #6F0082 0%, #00387A 50.52%, #240058 100%), url('/works/mung/mung-1.png');
    background-repeat: repeat-y;
    background-size: cover;
    background-blend-mode: multiply;
    color: white;
    overflow: hidden;

    .content {
        &>div {
            position: relative;
            height: fit-content;

            &>div {
                padding-bottom: 3%;
            }
        }

        img {
            border-radius: 30px;
            height: auto;
        }

        .imageList {
            @include flex(10px);
            justify-content: right;
            margin-right: -5%;

            img {
                width: 250px;
            }
        }

        .first {
            img {
                position: absolute;
            }

            .mainFirst {
                right: 20%;
                top: 0%;
                width: 350px;
            }

            .mainSecond {
                right: 5%;
                top: 35%;
                width: 300px;
            }
        }

        .gameplay {
            .imageList {
                margin-top: -5%;
            }
        }

        .initial {
            @include flex;
            flex-direction: row-reverse;
            padding-top: 10%;

            img {
                height: fit-content;
                mix-blend-mode: screen;
                filter: invert(100%) hue-rotate(40deg);
            }
        }

        .animation {
            @include flex(2vw);
            align-items: flex-end;
            margin-top: -10%;
            
            img {
                width: 250px;
            }
        }

        .second {
            img {
                position: absolute;
                right: 5%;
                top: 20%;
            }
        }

        .villanets {
            img {
                position: absolute;
                right: 30%;
                top: 15%;
                width: 300px;
            }
        }

    }
}

@media screen and (max-width: $mobileView) {
    .mungmung {
        background-size: 100%;

        .content {
            img {
                border-radius: 15px;
            }

            .imageList {
                justify-content: center;
                img {
                    width: 20%;
                }
            }

            .first {
                .mainFirst {
                    right: 5%;
                    width: 60%;
                }
                .mainSecond {
                    right: -10%;
                    top: 65%;
                    width: 40%;
                }
            }

            .gameplay {
                .imageList {
                    justify-content: right;
                }
            }

            .initial {
                flex-direction: column;
            }

            .animation {
                flex-direction: column;
                align-items: flex-start;
                img {
                    width: 40%;
                    align-self: flex-end;
                    margin-right: 5%;
                }
            }

            .second {
                img {
                    width: 60%;
                    right: 5%;
                    top: 70%;
                }
            }

            .villanets {
                img {
                    right: 0;
                    top: 55%;
                    width: 40%;
                }
            }
        }
    }
}