@import '../app/variable.scss';

.titleLight {
    @include flexAlign(space-between, center);
    padding: 6%;

    h1 {
        font-size: 5em;
        font-weight: 700;
        text-transform: uppercase;
    }

    ul {
        display: flex;
    }

    li {
        padding: 10px 20px;
        background-color: #000000;
        color: white;
        border-radius: 10vw;
        margin-left: -5px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: .8em;
    }
}

.titleDark {
    @include flexAlign(space-between, center);
    padding: 6%;
    color: white;

    h1 {
        font-size: 5em;
        font-weight: 700;
        text-transform: uppercase;
    }

    ul {
        display: flex;
    }

    li {
        padding: 10px 20px;
        background-color: #fff;
        color: black;
        border-radius: 10vw;
        margin-left: -5px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: .8em;
    }
}

.text {
    padding: 20% 6%;
    width: 40%;
    @include flexCol(1.2em);
    line-height: 1.5;
    
    h4 {
        white-space: pre-line;
    }
}

.link {
    padding: 6%;
    @include flexCol(1.2em);

    button {
        font-size: 1.1em;
        width: fit-content;
    }

    a {
        @include flex(10px);
        align-items: center;
        font-weight: 700;
    }

    a:hover {
        transform: translateX(10px);
    }
}