@import './../variable.scss';

.back {
    position: fixed;
    left: 10px;
    top: -50px;
    z-index: 9999;
    @include flexCol();
    transition: .4s;

    p {
        font-weight: 700;
    }
}

.back:hover {
    top: 0;
}

@media screen and (max-width: $mobileView) {
    .back {
        top: -30px;

        svg {
            font-size: 3em;
        }
    }
}