@import './variable.scss';

.contact {
    width: 100vw;
    height: 100vh;
    background-color: #272727;
    background-image: url('/bg.png');
    background-size: 20px;
    background-blend-mode:multiply;
    @include flexCenter(4em);
    flex-direction: column;
    color: white;
    text-align: center;
    text-transform: uppercase;

    ul {
        font-size: 5em;
        font-weight: 100;
        @include flexCol(.8em);
    }

    li:hover {
        font-style: italic;
        text-transform: lowercase;
        cursor: pointer;
    }

    span {
        text-decoration: underline;
    }

    svg:hover {
        transform: rotate(45deg);
        cursor: pointer;
    }

}

@media screen and (max-width: $mobileView) {
    .works {
        ul {
            font-size: 2em;
        }

        p {
            font-size: .8em;
            line-height: 3;
        }

        svg {
            font-size: 3em;
        }
    }
}