@import './variable.scss';

.maintext {
    @include flexCenter;
    height: 100vh;

    h1 {
        text-align: center;
        // font-family: 'Permanent Marker', cursive;
        // font-family: 'Kenia', cursive;
        // font-family: 'Rock Salt', cursive;
        // font-family: 'Homemade Apple', cursive;
        // font-family: 'Nothing You Could Do', cursive;
        font-size: 8em;
        color: #000000;
        line-height: 1em;
        font-weight: 900;
    }
    
    h2 {
        text-align: center;
        /* font-family: 'Rock Salt', cursive; */
        // font-family: 'Permanent Marker', cursive;
        position: absolute;
        font-size: 8em;
        line-height: 1em;
        color: #3bff58;
        mix-blend-mode:screen;
        font-weight: 900;
    }
}

.mainHeader {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 999;
    width: 30%;

    li {
        // background-color: black;
        // border: 2px solid black;
        // margin-top: 10px;
        text-align: right;
    }
    
    a {
        // color: white;
        width: 100%;
        display: block;
        font-size: 2.5em;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: -0.3em;
        line-height: 1.2;
    }

    a:hover {
        letter-spacing: 0.1em;
        padding-left: 10px;
        text-decoration: underline;
    }
}

.btnChange {
    background-color: rgb(19, 19, 19);
    width: fit-content;
    height: fit-content;
    position: absolute;
    z-index: 999;
    left: 10px;
    bottom: 10px;
    color: white;
    font-size: 3em;
    font-weight: 900;
    cursor: pointer;
}

@media screen and (max-width: $mobileView) {
    .maintext {
        h1, h2 {
            font-size: 3em;
        }
    }

    .mainHeader {
        a {
            font-size: 1.5em;
            line-height: 3;
        }
    }
}