@import './variable.scss';

.main {
    width: 100vw;
    height: 100vh;
}

.maintext {
    width: 70%;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: -99;

    h1, h2 {
        font-size: 8.5em;
        color: #000000;
        line-height: 1em;
        font-weight: 500;
    }
    
    h2 {
        position: absolute;
        top: .5em;
        left: 2em;
        font-weight: 900;
        color: rgba(0,0,0,0.2);
        filter:blur(5px);
        text-decoration: underline;
    }
}

.mainHeader {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 999;
    width: 30%;

    li {
        text-align: right;
    }
    
    a {
        width: 100%;
        display: block;
        font-size: 2.5em;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: -0.3em;
        line-height: 1.2;
    }

    a:hover {
        letter-spacing: 0.1em;
        padding-left: 10px;
        text-decoration: underline;
    }
}

.btnChange {
    background-color: rgb(19, 19, 19);
    width: fit-content;
    height: fit-content;
    position: absolute;
    z-index: 999;
    left: 10px;
    bottom: 10px;
    color: white;
    font-size: 3em;
    font-weight: 900;
    cursor: pointer;
}

@media screen and (max-width: $mobileView) {
    .maintext {
        width: 100%;
        align-items: flex-start;

        h1, h2 {
            font-size: 3em;
            line-height: 1.3em;
        }

        h2 {
            top: .5em;
            left: 1em;
            filter:blur(3px);
        }
    }

    .mainHeader {
        top: auto;
        bottom: 20px;
        a {
            font-size: 1.5em;
            line-height: 2.5;
        }
    }

    .btnChange {
        font-size: 1.5em;
    }
}


.donutContainer {
    width: 100%;
    height: 100%;
}

.colorPicker {
    position: fixed;
    z-index: 9999;
}